* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.out {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    display: flex;
}

.left {
    flex: 1;
    height: 100%;
    background-color: rgb(112, 109, 109);
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    color: rgb(216, 213, 213);
}

.avatar {
    width: 50px;
    height: 50px;
}

.top {
    height: 10%;
    display: flex;
    align-items: center;
}

.nth {
    height: 5%;
}

.list {
    flex: 1;
}

.list li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.right {
    flex: 3;
    height: 100%;
    background-color: rgb(224, 220, 212);
    display: flex;
    flex-direction: column;
}

.right_top {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.chat {
    flex: 7;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.word {
    flex: 4;
}

.message {
    position: relative;
    left: 328px;
    margin-top: 5px;
    font-size: 12px;
    color: rgb(143, 140, 140);
}

.word {
    position: relative;
}

.word textarea {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}

.message_content{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    background-color: white;
}

.send {
    position: absolute;
    width: 70px;
    background-color: #fff;
    border: 1px solid #ccc;
    right: 30px;
    bottom: 10px;
}

.file_img{
    position: absolute;
    margin-top:10px;
    left:20px;
}

.up_img{
    max-width: 500px;
    height: auto;
}

.emoji_img{
    position: absolute;
    margin-top:10px;
    left:60px;
}

.login {
    width: 500px;
    min-width: none;
    border: 1px solid #ccc;
    margin: 200px auto;
    text-align: center;
}

.avatars {
    display: flex;
    justify-content: center;
}

.login .avatars {
    margin: 10px;
}

.login .active {
    border: 3px solid red;
}

.fold_icon{
    width:30px;
    height: auto;
    float: left;

}

.goChat {
    width: 300px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: rgb(22, 170, 22);
    color: white;
    outline: none;
    font-size: 13px;
    margin: 10px 0;
}

.user {
    float: left;
    width: 100%;
    clear: both;
    position: relative;
    font-size: 13px;
    margin-bottom: 10px;
}

.user .avatars {
    float: left;
}

.user .username {
    position: absolute;
    left: 52px;
    top: 0px;
}

.user .content {
    position: absolute;
    left: 53px;
    bottom: 2px;
    background-color: #fff;
    font-size: 14px;
}

.self {
    float: right;
    width: 100%;
    clear: both;
    position: relative;
    font-size: 13px;
     margin-bottom: 10px;
}

.self .avatars {
    float: right;
}


.self .username {
    position: absolute;
    right: 52px;
    top: 0px;
}

.self .content {
    position: absolute;
    right: 53px;
    bottom: 2px;
    font-size: 14px;
}

p .system_content{
    color: gray;
    display: flex;
}